<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
      <authorization>
        <allow users="?" />
      </authorization>
      <authentication mode="Windows" />
      <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IProcessNavigationService"
        contract="K2RestSvcRef.IProcessNavigationService" name="WebHttpBinding_IProcessNavigationService" />
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IWorklistNavigationService"
        contract="K2RestSvcRef.IWorklistNavigationService" name="WebHttpBinding_IWorklistNavigationService" />
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IIdentityService"
        contract="K2RestSvcRef.IIdentityService" name="WebHttpBinding_IIdentityService" behaviorConfiguration="NewBehavior">
        <identity>
          <servicePrincipalName value="host/dlx.denallix.com" />
        </identity>
      </endpoint>
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_ICoreService"
        contract="K2RestSvcRef.ICoreService" name="WebHttpBinding_ICoreService" />
    </client>
    <bindings>
      <customBinding>
        <binding name="binaryHttpBinding">
          <binaryMessageEncoding />
          <httpsTransport authenticationScheme="Negotiate" />
        </binding>
        <binding name="WebHttpBinding_IProcessNavigationService">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='WebHttpBinding_IProcessNavigationService'>    -->
          <!--        <sp:HttpsToken xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">..</sp:HttpsToken>    -->
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="WebHttpBinding_IWorklistNavigationService">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='WebHttpBinding_IWorklistNavigationService'>    -->
          <!--        <sp:HttpsToken xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">..</sp:HttpsToken>    -->
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="WebHttpBinding_IIdentityService">
          <!-- <binaryMessageEncoding /> -->
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Negotiate" unsafeConnectionNtlmAuthentication="true" />
        </binding>
        <binding name="WebHttpBinding_ICoreService">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='WebHttpBinding_ICoreService'>    -->
          <!--        <sp:HttpsToken xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">..</sp:HttpsToken>    -->
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>                
      </serviceBehaviors>

        <endpointBehaviors>
          <behavior name="NewBehavior">
            <clientCredentials>
              <windows allowedImpersonationLevel="Impersonation" />
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WcfApp.AppSvc">
        <endpoint address="/GetUsers" binding="customBinding" bindingConfiguration="binaryHttpBinding" contract="WcfApp.IAppSvc" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />
            </authentication>
        </security>
  </system.webServer>

</configuration>
